@{
    ViewBag.Title = "Contato";
}
<hr class="m-0">

<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="projetos">
    <div class="w-100">
        <h2 class="mb-5" style="color:#005e91">Contato</h2>
        <div class="subheading mb-3">
            Rua Batista Cepelos, 172 · Sorocaba, SP 18075-100 ·
            <br />
            (15) 98101-7271 ·
            <br />
            <a style="color:#005e91" href="mailto:cali3_mgf@hotmail.com">cali3_mgf@hotmail.com</a>
            <div >Estagiário na GFT - Alphaville</div>
        </div>
    </div>

</section>
