@{
    ViewBag.Title = "Home Page";
}

    <section class="resume-section p-3 p-lg-5 d-flex align-items-start" id="index">
        <div class="w-200">
            <h1 class="mb-0">
                <span style="color:#005e91">Carlos Gumiero</span>
            </h1>
            <div class="subheading mb-3">
                Rua Batista Cepelos, 172 · Sorocaba, SP 18075-100 · (15) 98101-7271 ·
                <a  href="mailto:cali3_mgf@hotmail.com" style="color:#005e91">cali3_mgf@hotmail.com</a>
                <br /><br />
                <div class="subheading mb-5 text-dark">Estagiário na GFT - Alphaville</div>
            </div>
            <p class="lead mb-5">Desenvolvedor de softwares e jogos. Experiência em linguagens C#, Java, Javascript e ferramentas Visual Studio, Eclipse, Unity3D e Unreal.</p>
            
            <div class="social-icons ">
                <a href="https://www.linkedin.com/in/carlos-gumiero-011170161">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://github.com/CarlosGumiero">
                    <i class="fab fa-github" ></i>
                </a>
                <a href="https://www.artstation.com/carlosgumiero/profile">
                    <i class="fab fa-artstation"></i>
                </a>
                <a href="https://www.facebook.com/carlosmiguel.gumierofreitas?ref=bookmarks">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>
        </div>
    </section>