@{
    ViewBag.Title = "Projetos";
}

<hr class="m-0">

<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="projetos">
    <div class="w-100">
        <h2 style="color:#005e91" class="mb-5">Projetos</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5" >
            <div class="resume-content">
                <h3 class="mb-0">Exercícios de Orientação a objetos em Java</h3>
                <a style="color:#005e91" href="https://github.com/CarlosGumiero/Exercicio01">Git - Exercício Java 01</a>
                <br />
                <a style="color:#005e91" href="https://github.com/CarlosGumiero/Exercicio02">Git - Exercício Java 02</a>
                <br />
                <a style="color:#005e91" href="https://github.com/CarlosGumiero/Exercicio03">Git - Exercício Java 03</a>
                <br />
                <a style="color:#005e91" href="https://github.com/CarlosGumiero/Exercicio04">Git - Exercício Java 04</a>
                <br />
                <a style="color:#005e91" href="https://github.com/CarlosGumiero/Questoes-da-Prova-Java">Git - Prova em Java</a>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary"></span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0">Exercícios de Orientação a objetos em C#</h3>
                <a style="color:#005e91" href="https://github.com/CarlosGumiero/C---Exercicio-01">Git - Exercício C# 01</a>
                <br />
                <a style="color:#005e91" href="https://github.com/CarlosGumiero/C---Exercicio-02">Git - Exercício C# 02</a>
                <br />
                <a style="color:#005e91" href="https://github.com/CarlosGumiero/C---Exercicio-03">Git - Exercício C# 03</a>
                <br />
                <a style="color:#005e91" href="https://github.com/CarlosGumiero/C---Exercicio-04">Git - Exercício C# 04</a>
                <br />
                <a style="color:#005e91" href="https://github.com/CarlosGumiero/Questoes-da-Prova-CSharp">Git - Prova em C#</a>
            </div>

            <div class="resume-date text-md-right">
                <span class="text-primary"></span>
            </div>
        </div>
    </div>

</section>
